.header {
    background-color: #002050;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    padding: 10px;
    position: relative;
}

.header img {
    max-height: 55px;
}

.text-container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.title {
    font-size: 20px;
}

.description {
    font-size: 15px;
    margin-top: 10px;
}

.main-area {
    display: flex;
    margin-top: 10px;
}

.palette-container {
    width: 35px;
}

.palette-button {
    width: 25px;
    height: 25px;
    margin: 10px;
    border: 1px solid black;
    opacity: 0.3;
}

.palette-button.selected {
    border: 3px solid #333333;
    margin: 7px;
    opacity: 1;
}

#canvas-container {
    background-color: antiquewhite;
    margin-left: 10px;
    width: calc(100vw - 35px);
    height: calc(100vh - 120px);
    border: 1px solid black;
}

#canvas {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

#subcanvas {
    visibility: hidden;
}

.tweet-area {
    margin: 10px;
    position: absolute;
    top: 0px;
    right: 0px;
}

.coordinates-container,
.timer-container {
    margin: 10px;
    text-align: center;
}